node_modules/
dist/
build/
.cache/
coverage/
src/js/app.bundle.js
src/js/app.bundle.js.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
.env
*.log
*.tgz
/.parcel-cache/
/.pnp/
/.pnp.js
/.idea/
test-output/
/.history/
